p, body, img{display: block;}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: rgb(27, 27, 27);
    font-size: 20px;
    max-width: 100%;
    width: 100%;
}
/* header */
header{
    background-color: black;
    height: 60px;
}
/* footer */
footer{
    background-color: black;
    height: max-content;
}
/* img */
img{
    margin-left: auto;
    margin-right: auto;
}
img.me{
    margin-top: 1.5em;
        
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
img.portfolio{
    margin-bottom: 1em;
}
img.img-slides{
    max-width: 100%;
}
/* p */
p{margin-bottom: 0px;}
p.signature{
    margin-left: auto;
    margin-right: auto;
    color: gray;
    font-size: 15px;
    margin-top: 0.4em;
}
p.about{
    margin-left: auto;
    margin-right: auto;
    color: rgb(217, 217, 217);
    margin-top: 1em;
    font-size: 19px;
    line-height: 1.4em;
    width: 48%;
    margin-bottom: 2em;
}
p.portfolio{
    font-size: 20px;
    margin-top: 3em;
    margin-bottom: 1em;
}
p#contacts{
    margin-bottom: 1.5em;
}
/* span */
span{
    margin-left: 1em;
    font-size: 20px;
}
span.contacts{
    margin-left: 1.3em;
}
span.arrow{
    float: right;
    padding-right: 10px;
}
/* a */
a{
    color: white;
    text-decoration: none;
    display: block;
}
a.contacts{
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: 2px solid white;
    color: white;
    width: 60%;
    height: 60px;
    margin-bottom: 1em;
    line-height: 60px;
    
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear; 
}


/* slideshow */
.slideshow-container{
    max-width: 100%;
    width:60%;
    position: relative;
    margin:auto;
}
.mySlides{
    display: none;
}
.numbertext {
    color: white;
    font-size: 45%;
    padding: 1% 1.5%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.493);
    width: auto;
    border-radius: 0 0 3px 0;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.slidetext{
    color: white;
    border-radius: 0 3px 0 0;
    font-size: 55%;
    padding: 1% 1.5%;
    position: absolute;
    bottom: 1.1px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 1% 3% 1% 2%; 
    margin: 0px;
    font-weight: bold;
    font-size: 80%;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    color: black;

    transition: 0.3s linear ;
    -o-transition: 0.3s linear ;
    -webkit-transition: 0.3s linear ;
    -moz-transition: 0.3s linear ;
}
.prev{
    padding: 1% 3% 1% 2%;   
}
a.prev:hover, a.next:hover{
    color: white;
}
.next {
    right: 0%;
    border-radius: 3px 0 0 3px;
    padding: 1% 2.3% 1% 3%; 
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* scrollbar */
::-webkit-scrollbar{
    width: 10px;
    background-color: rgba(0,0,0,0);
    position: absolute;
    float: right
}
::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
}

/* @media */
@media screen and (max-width: 1100px){
    .slideshow-container {
        width: 100%;
    }
}