body{
  background-image: url("../images/back.jpg");
  max-width: 100%;
  width: 100%;
  color:black
}
/* header */
header{
  height: 50px;
  background-color: white;
}
/* img */
header img{
  position: absolute;
}
/* a */
a{
  text-decoration: none;
  color: black;
}
