body{
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 100%;
  color:black
}
/* header */
header{
  height: 50px;
  background-color: white;
  padding-top: 5px;
}
/* img */
header img{
  position: absolute;
}
/* a */
a{
  text-decoration: none;
  color: black;
  font-size: 2em;
  float: right;
  margin-right: 2%;

  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}
header a:hover{
    border-bottom: 5px solid black;
    height: 45px;
}
/* div */
div.links{
    margin-right: 5%;
}
/* p */
p{
  margin-bottom: 20px;
}
/* input */
input{
  width:47%;
  font-size: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 50px;
  border-color: lightgray;
}
input.button{
  background-color: yellow;
  color:black;
  border-radius: 25px;
  border: none;
}
input.button:hover{
    background-color: rgb(211, 211, 1);
}
input.button:active{
    background-color: rgb(189, 189, 0);
    border-top: 2px solid rgb(54, 54, 54);
    border-left: 2px solid rgb(54, 54, 54);
}
