body{
  background-image: url("../images/back.jpg");
  max-width: 100%;
  width: 100%;
}
/* header */
header{
  height: 50px;
  background-color: white;
}
/* img */
header img{
  position: absolute;
}
