/* body */
body{
    margin: 0px;
    color: rgb(25, 25, 25);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* div */
.center{
    width: 75vw;
    margin-right: auto;
    margin-left: auto;
}
.box{
    text-align: center;
}
/* p */
.important{
    margin-top: 1vw;
    font-size: 40px;
}
.line-height{
    line-height: 26px;
    margin: 0px;
}
.margin-top{
    margin-top:60px;
}
/* a */
a{
    color: rgb(197, 37, 93);
    text-decoration: none;
}
/* input */
input{
    width: 29vw;
    height: 30px;
    text-align: center;
    border-radius: 7px;
    border-color: rgb(153, 153, 153);
}
/* button */
button{
    margin-top: 20px;
    background-color: rgb(197, 37, 93);
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 7px;
}
/* ul, li */
ul li{
    display: inline;
    margin-right: 7vw;
}
.last{
    margin-right: 0px;
}
ul{
    padding: 0;
}
/* img */
img.house{
    width: 40vw;
}
img.gray-dot{
    width: 4vw;
}
img.logo{
    width: 10vw;
    margin-top: 1vw;
}
/*scrollbar */
::-webkit-scrollbar{
    width: 0.5vw;
    background-color: none;
    height: 1vw;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(72, 72, 72);
}
/* media */
@media screen and (max-width: 426px) {
    /* img */
    img.house{
        width: 70vw;
    }
    img.gray-dot{
        width: 10vw;
    }
    img.logo{
        width: 20vw;
        margin-top: 4vw;
    }
    /* p */
    p.margin-top{
        margin-top: 0;
    }
}
