body{
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 100%;
    width: 100%;
}
/* header */
header{
    margin-bottom: 5px;
}
/* div */
div.main-container{
    margin-left: 13px;
    width: 99%;
    display:block;
}
div.flex{
    display: flex;
    position: static;
    flex-direction: row;
}
div.little-boxes{
    display: flex;
    margin-bottom: 5px;
}

div.box-animation{
    overflow: hidden;
    animation-duration: 6s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-timing-function: linear !important; 

    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
div.white-box-animation{
    margin-top: 70px;
    margin-bottom: 0px;
    overflow: hidden;
    animation-duration: 6s;
    font-size: 60px;
    animation-name: white-box-slide;
    animation-iteration-count: infinite;
    animation-timing-function: linear !important; 
    width: 600px;

    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
div#textAnimationWhiteBox{
    opacity: 0;
}
div.black-box-animation{
    margin-top: 70px;
    margin-bottom: 0px;
    overflow: hidden;
    animation-duration: 4s;
    font-size: 60px;
    animation-name: black-box-slide;
    animation-iteration-count: infinite;
    animation-timing-function: linear !important; 
    width: 800px;

    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
div#textAnimationBlackBox{
    opacity: 0;
}
div.yellow-box-animation{
    margin-top: 60px;
    margin-bottom: 0px;
    overflow: hidden;
    animation-duration: 7s;
    font-size: 60px;
    animation-name: yellow-box-slide;
    animation-iteration-count: infinite;
    animation-timing-function: linear !important; 
    width: 1100px;

    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
div#textAnimationYellowBox{
    opacity: 0;
}

div.what-we-do{
    width: 100%;
    height: max-content;
    background-color: rgb(30, 30, 35);
    color: rgba(183, 169, 255, 0.786);
    border-radius: 70px;
}

div.main-container div.flex{
    display: flex; 
    flex-direction: row; 
    margin-bottom: 5px;
}
div.left{
    background-color: rgb(30, 30, 35);
    height: 300px;
    width: 50%;
    border-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: rgba(183, 169, 255, 0.786);
    overflow: hidden;
}
div.right{
    background-color: rgba(183, 169, 255, 0.786);
    height: 300px;
    width: 50%;
    border-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: center;
    color: rgb(30, 30, 35);
}
div.text-container{
    width: 80%;
    word-wrap: break-word;
    margin-left: 1%;
}
/* a */
a{
    color: white;
    text-decoration: none;
}
a.box-static{
    position: static;
}
a.box{
    margin-right: 5px;
}
a.main-box{
    background-color: rgb(45, 0, 255);
    height: 460px;
    border-radius: 90px;
    width: 43%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
a.main-box:hover{
    height: 440px;
    width: 40%;
}
a.white-box{
    color: black;
    background-color: white;
    height: 250px;
    width: 500px;
    border-radius: 55px;
    overflow: hidden;
}
a.white-box:hover{
    width: 460px;
    height: 230px !important;
}
a.black-box{
    height: 250px;
    width: 348px;
    background-color: rgb(30, 30, 35);
    border-radius: 50px;
    overflow: hidden;
}
a.black-box:hover{
    width: 328px;
    height: 230px !important;
}
a.yellow-box{
    width: 850px;
    height: 205px;
    background-color: rgba(253, 253, 101, 0.905);
    border-radius: 50px;
    overflow: hidden;
    color: black;
}
a.yellow-box:hover{
    width: 800px;
    height: 180px !important;
}
div.right a{
    color: rgb(30, 30, 35);
}
/* p */
p.logo{
    margin-bottom: 110px;
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: bolder;
    line-height: 25px;
    display: block;
}
span.font-huge{
    font-size: 45px;
}
div.right p{
    line-height: 65px;
    margin-top: 90px;

    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
div.left p{
    margin-left:10%;
    font-size: 25px;
    width: 80%;
}
p.signature{
    font-size: 20px;
    margin-top: 60px;
}
/* span */
p.logo span{
    font-size: 25px;
    margin-right: 145px;
}
span.box-name{
    font-weight: bold;
    margin-top: 60px;
    margin-left: 60px;
    font-size: 20px;
    
}
span.bottom{
    margin-top: 120px;
    margin-left: 60px;
    bottom: 80px;
    left: 65px;
    font-weight: bold;
    display: flex;
}
span.bottom.yellow{
    margin-top: 35px !important;
}
span.arrow{
    margin-left: 555px;
    margin-top: -20px;
}
span.animation-text{
    margin-top: 60px;
    font-size: 60px;
    font-weight: bold;
    display: inline-block;
}
a.white-box span.bottom{
    margin-top: 60px ;
}
a.black-box span.bottom{
    margin-top: 60px;
}
a.yellow-box span.bottom{
    margin-top: 30px;
}

/* class "animation" */
.animation{
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
/* keyframes */
@keyframes slide{
    from {
        font-size: 60px;
        margin-left: 100%;
      }
    
      to {
        font-size: 60px;
        margin-left: -160%;
      }
}
@keyframes white-box-slide{
    from {
        font-size: 60px;
        margin-left: 100%;
      }
    
      to {
        font-size: 60px;
        margin-left: -120%;
      }
}
@keyframes black-box-slide {
    from {
        font-size: 60px;
        margin-left: 100%;
      }
    
      to {
        font-size: 60px;
        margin-left: -200%;
      }
}
@keyframes yellow-box-slide {
    from {
        font-size: 60px;
        margin-left: 100%;
      }
    
      to {
        font-size: 60px;
        margin-left: -130%;
      }
}

/* scrollbar */
::-webkit-scrollbar{
    width: 7px;
    background-color: none;
    height: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(30, 30, 35);
    border-radius: 35px;
}

@media screen and (max-width:1100px) {
    /* div */
    .flex{
        display: block !important;
    }
    .flex-box{
        display: flex !important;
        margin-bottom: 5px;
    }
    .description-of-doing{
        font-size: 50px !important;
        line-height: 60.5px !important;
    }
    /* a */
    .main-box{
        width: 98.5% !important;
        display: block !important;
        margin-bottom: 5px;
    }
    .white-box{
        width: 50% !important;
    }
    .black-box{
        width: 48.5% !important;
    }
    .yellow-box{
        width: 98.8% !important;
    }
    .left{
        height: 350px !important;
    }
    .right{
        height: 350px !important;
    }
    /* span */
    .bottom{
        margin-top: 70px !important;
    }
    .blue{
        margin-top: 130px !important;
    }
    .arrow{
        margin-top: -17px !important;
        margin-left: 90% !important;
    }
    .box-name{
        padding-top: 0px !important;
        display: inline-block;
    }
}
@media screen and (max-width: 500px) {
    /* div */
    .description-of-doing{
        font-size: 30px !important;
        line-height: 40.5px !important;
    }
    .left{
        height: 500px !important;
    }
    .right{
        height: 500px !important;
    }
    #firstLeft{
        width: 470px !important;
    }
    #firstRight{
        width: 470px !important;
    }
    #secondLeft{
        height: 430px !important;
    }
    #secondRight{
        height: 430px !important;
    }
    #thirdLeft{
        height: 460px !important;
    }
    #thirdRight{
        height: 460px !important;
    }
    /* p */
    div.left p{
        font-size: 21px !important;
    }
}
