body{
    font-family:'Comfortaa Light';
    margin: 0px;
    max-width: 100%;
    width: 100%;
    font-size: 20px;
}
/* fonts */
@font-face {
    font-family: 'Doloman Pavljenko Light';
    src: url('../../fonts/Doloman Pavljenko/DolomanPavljenko.otf') format('opentype');
    font-family: 'Multiround Pro';
    src: url('../../fonts/Multiround Pro/MultiroundPro.otf') format('opentype');
    font-family: 'Comfortaa Light';
    src: url('../../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype')
}
/* header */
header{
    height: 80px;
}
/* div */
div.medium{
    width: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.description{
    width: 50%;
    margin-left: 5%;
}
div.differences{
    width: 30%;
    position: absolute;
    right: 50px;
}
div.about{
    margin-left: 5%;
    display: flex;
}
div.about div{
    margin-left: 2%;
}
div.div-box{
    display: flex;
    margin-top: 10px;
    font-size: 20px;
}
div.more{
    display: flex;
}
/* span */
div.description p span{
    width: 20% !important;
}
/* p */
p.short-info{
    font-weight: bold;
    font-size: 30px;
}
div.differences p{
    margin-left: 20px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* img */
img.animation{
    position: absolute;
    top:50%;
    transform:translate(-50%, -50%);
    width: 30%;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
img#first{
    z-index: 1;
}
img#second{
    z-index: 0;
}
img#first:hover{
    opacity: 0;
}
div.more img{
    width: 10%;
    margin-left:2%;
}
/* scrollbar */
::-webkit-scrollbar{
    width: 7px;
    background-color: none;
    height: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(198, 198, 198);
    border-radius: 35px;
}