body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    width: 100%;
    background-color: wheat;
}
/* a, select */
select{
    border: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: wheat;
    font-weight: bold;
    font-size: 20px;
}
select::-ms-expand {
    display: none;    
}
a.black-colored-link{
    color: black;
    text-decoration: none;
}
input.log-in{
    color: blue;
    margin-left: 300px;
    background-color:  wheat;
    border: 4px solid blue;
    font-weight: bold;
    font-size: 30px;
    border-radius: 3px;
}
input.log-in:hover{
    background-color: rgb(212, 191, 153);
}
/* img */
img{
    margin-left: 7% !important;
    margin-top: 15px;
    position: absolute;
}
img.main-image{
    margin-top: 100px;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
img.button{
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear; 
    border-radius: 5px;
}
img.button:hover{
    margin-top: 10px;
    filter: drop-shadow(-5px 5px 5px gray);
}
/* .margrin-left */
.margin-left{
    margin-left: 1%;
}
/* p, form */
form p{
    font-size: 20px;
    margin-bottom: 10px;
}
/* input */
input.text-input{
    width: 600px;
    font-size: 30px;
    height: 50px;
    border-radius: 5px;
    border-color: lightgray;
}
input.second{
    margin-bottom: 20px;
}
input.sign-up{
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(68, 0, 255);
    color: white;
    width: 120px;
    border: none;
    border-radius: 5px;
}
input#close{
    margin-left: 90%;
    margin-top: 20px;
    color: red;
    background: none;
    border: none;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    border: 4px solid red;
    width: 35px;
    height: 35px;
}
input.text-login{
    width: 400px;
    height: 50px;
    font-size: 30px;
    border-radius: 5px;
    border-color: lightgray;
}
input.submit{
    color: white;
    background-color: rgb(68, 0, 255);
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    height: 50px;
    width: 120px;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}
input[type=checkbox]{
    width: 12px;
    margin-top: 10px;
}
/* div */
div.links{
    margin-left: -45px;
}
div.log-in-form{
    width: 40%;
    height: 60%;
    background-color: wheat;
    z-index: 9;
    position: absolute;
    border-radius: 45px;
    margin-top: 100px;
    visibility: hidden;
    opacity:0;
    left: 30%;

    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    z-index: 2;
}
/* p */
div.log-in-form p{
    font-size: 20px;
    margin-bottom: 10px;
}

/*.margin-left*/
.margin-left-login{
    margin-left: 30px;
}
