/* body */
body{
    margin: 0px;
    background-image: url("../images/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: black;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
/* p */
p{
    text-align: center;
}
.title{
    font-size: 110px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.font-medium{
    margin-top: 0px;
    font-size: 40px;
}
.font-small{
    font-size: 10px;
    letter-spacing: 3px;
    word-spacing: 10px;
    margin-top: 20px;
}
/* button */
button{
    background-color: rgb(44, 128, 104);
    color: white;
    border: 0px;
}
button.get{
    border-radius: 30px;
    width: 300px;
    height: 60px;
    font-size: 25px;

    transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}
button.get:hover{
    background-color: rgb(31, 89, 72);
    width: 320px;
    height: 65px;
}
button.chat{
    position: absolute;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    bottom: 0px;
    right: 15px;
    font-size: 15px;
}
/* form */
form{
    margin-top: 20px;
    margin-left: 85%;
    display: flex;
}
form::before{
    display: flex;
    content: url("../images/planet.png");
    width: 5%;
    margin-right: 25%;
    margin-top: -10px;
}
/* select */
select{
    width: 100px;
    height: 30px;
    font-size: 15px;
    background: none;
    border: none;
    box-shadow: none;
    filter: none;
}
/* option */
option{
    border: none;
    background-color: rgb(239, 222, 184);
}
select:hover{
    background-color: rgb(239, 222, 184);
}
/* img */
img.moonland{
    position: absolute;
    z-index: -1;
    width: 96%;
    left: 0px;
    bottom: 0px;
    left: 1.5%;

    transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}
/* meida */
@media screen and (max-width: 1000px) {
    .title{
        font-size: 90px !important;
    }
    form{
        width: 100px !important;
        height: 30px !important;
        font-size: 15px;
        background: none;
        border: none;
        box-shadow: none;
        filter: none;
        margin-left: 75%;
    }
    form::before{
        display: flex;
        content: url("../images/planet.png");
        width: 5%;
        margin-right: 45%;
        margin-top: -10px;
    }
}
@media screen and (max-width: 500px) {
    .title{
        font-size: 40px !important;
        margin-top: 100px !important;
    }
    .font-medium{
        font-size: 20px !important;
        margin-top: 20px;
    }
    form{
        margin-left: 65%;
    }
}
@media screen and (max-width: 350px){
    form{
        margin-left: 50%;
    }
}
